.avatar--header {
    font-size: 50px;
    margin: 30px;
}

.avatar--container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.avatar--image {
    width: 150px;
    margin: 10px;
}

.avatar--selected {
    background-color: #6988F6;
}

.avatar--refresh,
.avatar--confirm {
    background-color: #6988F6;
    color: white;
    border: none;
    border-radius: 10px;
    margin: 10px;
}

.avatar--buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

.avatar--icons {
    height: 170px;
}

.avatars {
    display: flex;
    flex-direction: row;
}

/* Mobile styles */
@media (max-width: 700px) {
    .avatar--header {
        font-size: 30px;
    }
    
    .avatar--container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        height: 80vh;;
    }
    
    .avatars {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 10px; 
    }
    

    .avatar--image {
        margin: 5px;
    }
    
    .avatar--buttons {
        margin: 10px;
    }
}