.projects--container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0px 15px 0px 15px;
}

.projects--nav {
    margin: 0px 20px 0px 20px;
}

.projects--new {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7px;
}
