* {
    box-sizing: border-box;
    font-size: 17px;
}

.task {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #D7D5D5;
    font-size: 20px;
}

.task--divider {
    width: 1px;
    background-color: #D7D5D5;
    min-height: 60px;
}

.task--name {
    width: 15%;
}

.task--description {
    width: 35%;
}

.task--priority {
    width: 10%;
}

.task--date {
    width: 10%;
}

.task--completed {
    width: 15%;
}

.task--assignTo {
    width: 10%;
}

.task--actions {
    width: 4%;
}

.task--name,
.task--description,
.task--priority,
.task--date,
.task--completed,
.task--actions,
.task--assignTo {
    margin-left: 15px;
}

.task--actions {
    display: flex;
    justify-content: space-evenly;
}

.task--delete,
.task--edit {
    width: 25px;
}


.task--button {
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 50%;
    padding: 5px;
    margin: 0;
}

.task--button:hover, 
.task--edit:hover {
    background-color: #D7D5D5;
}

.task--edit {
    margin-top: 5px;
}


