.tasks--header {
    color: #7674F1;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px
}

.tasks--new {
    display: flex;
    align-items: center;
    justify-content: start;
    border-bottom: 1px solid #D7D5D5;
    border-top: 1px solid #D7D5D5;
    font-size: 17px;
    padding-left: 100px;
    height: 60px;
}

.task--button {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
}
